#my_nav {
  background: #21273d;
  padding: 5px;
}
#logo {
  display: inline-block;
  padding: 20px;
  margin-left: 15px;
  font-size: 26px;
  box-sizing: border-box;
  color: #fff;
}
#settings {
  float: right;
  padding: 5px;
}
#profile {
  background: #fff;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 50%;
}
